<div id="<%= dom_id notification %>">
  <p>
    <strong>Body:</strong>
    <%= notification.body %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= notification.url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= notification.user_id %>
  </p>

</div>
