<div id="<%= dom_id friend_request %>">
  <p>
    <strong>User:</strong>
    <%= friend_request.user_id %>
  </p>

  <p>
    <strong>Friend:</strong>
    <%= friend_request.friend_id %>
  </p>

</div>
